body {
    background-color: white;
    font-family: Arial;
    touch-action: none; /* does any browser support that yet? */
}

div.game{
    background-color: #eee;
    margin: 20px auto;
    padding: 10px 20px;
    width: 420px;
    touch-action: none; /* does any browser support that yet? */
}

div.working{
    background-color: #aaa;
}

polygon {
    stroke: #000;
    transition: transform;
    -webkit-transition: transform;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    /*-webkit-animation-iteration-count: 4;*/
    touch-action: none;  /* does any browser support that yet? */
}

polygon.type-1 { fill: #9B111E; } /*ruby red #9B111E / red #f00*/
polygon.type-2 { fill: #0c0; } /*emerald #50C878 / green #0c0*/
polygon.type-3 { fill: #0F52BA; } /*sapphire #0F52BA / blue #07a*/
polygon.type-4 { fill: #ff0; } /*yellow*/
polygon.type-5 { fill: #f30; } /*orange*/
polygon.type-6 { fill: #909; } /*violet*/
polygon.type-7 { fill: #963; }
polygon.type-8 { fill: #06c; }
polygon.type-dragged { fill: #fff; }
polygon.type-moving { stroke-width: 2px; /*fill: #0ff;*/ }
polygon.type-empty { fill: #aaa; }
polygon.matched{
    transform: rotate(180deg) scale(0);
    -webkit-transform: rotate(180deg) scale(0);
}
polygon:hover{
    stroke: white;
}
